* {
    margin: 0;
    padding: 0;
}

.gallery-wrapper {
    background: #c0c0c0;
    padding-bottom: 20px;
}
.title {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.gallery {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.gallery a {
    padding: 5px;
    background: inherit;
}

.gallery a:hover {
    background: #fff;
    -webkit-transition: .6s;
    transition: .6s;
}

.gallery a img {
    width: 100%;
    max-width: 200px;
    height: 125px;
}

.single-img-wrapper {
    width: 100%;
    background: #a3a2a2
}

.single-img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.single-img a img {
    width: 100%;
    max-width: 500px;
    height: 250px;
}